
<div class="card text-white bg-primary mb-3" style="min-width: 18rem;">
    <div class="card-header">Child Action only</div>
    <div class="card-body">
        <h5 class="card-title">This content is coming using Child Action Only Attribute</h5>

    </div>
</div>
