
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>


<div class="card border-danger mb-3" style="min-width: 18rem;">
    <div class="card-header">Error Page</div>
    <div class="card-body text-danger">
        <h5 class="card-title">This is the error page.You have entered into wrong section.</h5>
      
    </div>
</div>

