@{
    ViewBag.Title = "Day2 - Ques1";
}


<h1>Day 2- Ques 1</h1>


<div class="card border-info mb-3" style="min-width: 18rem;">
    <div class="card-header">Explain RenderPartial, Partial and Render Action with examples?</div>
    <div class="card-body text-info">
        <h5 class="card-title">RenderPartial</h5>
        <p class="card-text">
            <ol>
                <li>
                    This method result will be directly written to the HTTP response stream means
                    it used the same TextWriter object as used in the current webpage/template.
                </li>
                <li>
                    This method returns void.
                </li>
                <li>
                    RenderPartial method is useful when the displaying data in the partial view is
                    already in the corresponding view model.
                </li>
                ******On this page nav bar is coming using render partial***********
            </ol>

        </p>
        <h5 class="card-title">Partial</h5>
        <p class="card-text">
            <ol>
                <li>
                    Renders the partial view as an HTML-encoded string.
                </li>
                <li>
                    This method result can be stored in a variable, since it returns string type value.
                </li>
                <li>
                    Like RenderPartial method, Partial method is also useful when the displaying data in the
                    partial view is already in the corresponding view model.
                </li>
                ******On this page side bar is coming using render partial***********
            </ol>
        </p>
        <h5 class="card-title">RenderAction</h5>
        <p class="card-text">
            <ol>
                <li>
                    This method result will be directly written to the HTTP response stream means it
                    used the same TextWriter object as used in the current webpage/template.
                </li>
                <li>
                    For this method, we need to create a child action for the rendering the partial view.
                </li>
                <li>
                    RenderAction method is useful when the displaying data in the partial view is independent
                    from corresponding view model
                </li>
                <a href='@Url.Action("Extra","Day2")'>Click here to see the text which wouls come using render action</a>
            </ol>
        </p>
    </div>
</div>

<a href='@Url.Action("Index","Day1")'>Go Back To Main Page</a>