@{
    ViewBag.Title = "Day3 - Ques5";
}


<h1>Day 3- Ques 5</h1>


<div class="card border-light mb-3" style="min-width: 18rem;">
    <div class="card-header">
        What is the use of viewmodel in mvc and  how to pass model view to another parsial view
    </div>
    <div class="card-body">
        <h5 class="card-title">View Model</h5>
        <p class="card-text">
            In ASP.NET MVC, ViewModel is a class that contains the fields which are represented in the strongly-typed view.
            It is used to pass data from controller to strongly-typed view
        </p>

        <h5 class="card-title">below are the few ways by which we can pass model view to another partial view </h5>
        <p class="card-text">
            <ol>
                <li>
                    Pass data from enclosing View to Partial View.
                </li>
                <li>

                    Pass data to Partial View using ViewBag / ViewData.
                </li>
                <li>

                    Pass data to Partial View using TempData.
                </li>
                <li>
                    Pass data to Partial View using strongly typed model.
                </li>
            </ol>
        </p>


    </div>
</div>
