.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    display: block;
    width: 100%;
    outline: none;
    border:1px solid #ccc;
    background-color: rgb(206, 253, 231);
    font:inherit;
    padding: 6px 10px;
    box-sizing: border-box;
}


.InputElement:focus{
    background-color: rgb(147, 255, 156);
    outline: none;
}

.InValid{
    border:1px solid rgb(167, 68, 68);
    background-color: rgb(243, 209, 209);;
}