.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid rgb(36, 230, 236);
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: rgb(244, 184, 247);
    border: 1px solid rgb(241, 238, 234);
    color: rgb(250, 157, 157);
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: rgb(247, 188, 234);
    color: rgb(250, 185, 185);
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: rgb(236, 95, 173);
    color: white;
}

.BuildControl .More {
    background-color: rgb(96, 226, 9);
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: rgb(252, 14, 145);
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: rgb(7, 133, 80);
    color: white;
}