<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Day1_Assignment</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Ques1">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Ques 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Ques2">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Ques 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Ques3">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Ques 3
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Ques4">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Ques 4
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Ques5">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Ques 5
            </NavLink>

        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
