
@{
    ViewBag.Title = "Index";
}
    @*<div class="container c" >
        <h2>MVC Complete Assignment</h2>

        <h4>Please choose the side navigation bar to choose the day for which you want to see the assignmnet</h4>

        <h5>Made By - Latika Malhotra</h5>
    </div>*@

    <div class="card border-info mb-3" style="min-width: 18rem;font-family:Arial">
        <div class="card-header">MVC Complete Assignment</div>
        <div class="card-body text-info">
            <h5 class="card-title">Made By- Latika Malhotra</h5>
            <p class="card-text">Please choose the side navigation bar to choose the day for which you want to see the assignmnet</p>
        </div>
    </div>