@page "/"




<div class="card border-primary mb-3" style="min-width: 18rem;">
    <div class="card-header">INTRODUCTION TO BLAOR ASSIGNMENT</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Following questions are their in this assignment</h5>
        <p class="card-text">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Difference between the Blazor client-side and server-side and also explain web assembly and Signal R connection?
                </li>
                <li class="list-group-item">
                    What is the component and component parameter?
                </li>
                <li class="list-group-item">
                    Explain the Life cycle with example
                </li>
                <li class="list-group-item">
                    Explain all binding with example?
                </li>
                <li class="list-group-item">Create a simple calculator on blazer server side?</li>
            </ul>

        </p>

    </div>
</div>